<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Owner Name:</label>
    <br>
    <br>
    <input type="text" name="owner[name]">
    <br>
    <br>
  <label>Available Pets</label>
    <br>
    <br>
    <% @pets.each do |pet| %>
      <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>" id="<%=pet.id%>"><%=pet.name%></input>
    <% end %>
    <br>
    <br>
  <label>CREATE A NEW PET:</label>
    <br>
    <br>
      name: <input type="text" name="pet[name]" value="">
    <br>
  <input type="submit" value="Create Owner">
</form>
